@font-face {
    font-family:"Rotonda";
    src: url("/assets/fonts/rotonda.ttf") format("truetype");
}

.prod-list-page{
    display: flex;
    font-family: Rotonda;
}

.filters{
    min-width: 245px;
    margin-right: 15px;
    color: #043e44;
}

.filters-name{
    font-weight: 700;
    font-size: 20px;
}

.filters-name-img{
    display: flex;
    margin-bottom: 20px;
}

.filter-img{
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.filter-name{
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid rgb(216, 216, 216);
    padding: 10px 0;
}

.filter-block{
    margin-bottom: 10px;
}

.filter-detail{
    font-size: 14px;
    padding: 8px 15px 8px 12px;
}

.items{
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-between;
    max-width: 980px;
}

.items-header{
    display: flex;
    justify-content: space-between;
}

.category-name{
    color: #043e44;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
    position: relative;
}

.sort-btn{
    background-color: white;
    position: absolute;
    z-index: 1;
    right: 100px;
    top: 10px;
    width: 225px;
    border-radius: 5px;
    padding: 7px 7px 0 7px;
    border: 1px solid rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sort-option{
    padding: 7px 0;
    border-top: 1px solid rgb(216, 216, 216);
}

.cur-sort{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
}

.sort-direction{
    margin-right: 5px;
}

.sort-img{
    height: 16px;
}

.sort-img-upsidedown{
    transform: rotate(180deg);
}


.sort-name{
    display: flex;
}

.tags-block{
    display: flex;
    flex-wrap: wrap;
}

.tag-checkbox {
    display: none;
}

.tag{ 
    margin: 15px 10px 20px 0px;
}

.tag-label{
    color: #043e44;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgb(216, 216, 216);
}

.tag-checkbox:checked + label {
    color: #fff;
    background: #919fa7;
}

.item{
    font-family: Rotonda;
    width: 189px;
    height: 420px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 18px 18px 2px 18px;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}

.item:hover{
    box-shadow: 0 0 20px rgba(130, 130, 130, 0.5);
}

.fresh{
    position: absolute;
	top: 0;
	right: 0; 
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fresh-num{
    font-size: 26px;
    color: #77bd43;
}

.fresh-days{
    font-size: 14px;
}

.fresh-list{
    height: 20px;
}

.img{
    display: flex;
    margin: auto;
    justify-content: center;
    margin-bottom: 20px;
    height: 155px;
}

.prod-img{
    object-fit: contain;
}

.name{
    font-size: 14px;
    color: #444444;
    margin-bottom: 20px;
    min-height: 50px;
}

.name:hover{
    color: #7ac143;
}

.price{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

.discount-empty{
    margin-top: 23px;
}

.discount{
    font-size: 12px;
    border-radius: 25px;
    background-color: yellow;
    font-weight: bold;
    text-align: center;
    max-width: 60px;
    padding: 5px;
}

.price-and-discount{
    display: flex;
}

.price-discount{
    color: red;
}

.price-old{ 
    position: relative;
    color: #919FA7;
    font-size: 18px;
    margin-right: 15px;
}

.price-old::before{
    content: "";
	border-bottom: 2px solid #919FA7;
	position: absolute;
	top: 0;
	left: 0;    
	width: 100%;
	height: 50%;
}

.star{
    height: 15px;
}

.star-empty{
    opacity: 0.3;
}

.rating-like{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.rating{
    color: rgb(102, 102, 102);
    display: flex;
    filter: opacity(0.5);
}

.rating:hover{
    color: #008b44;
    filter: none;
}

.rating-num{
    margin-left: 3px;
    font-size: 10px;
    line-height: 15px;
}

.heart{
    height: 17px;
    filter: grayscale(1) opacity(0.3);
}

.heart:hover{
    filter: opacity(0.5);
}

.buy-btn{
    background-color: #7ac143;
    padding: 7px;
    border: none;
    font: inherit;
    color: inherit;
    border-radius: 7px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-btn:hover{
    background-color: #008b44;
}

.cart{
    height: 30px;
    filter: invert(100%);
}

.delivery{
    margin: auto;
    color: #919FA7;
    font-size: 12px;
}

.penny{
    font-size: 20px;
}

.ruble, .penny-old{
    font-size: 16px;
}

.copy, .ruble-old{
    font-size: 15px;
}