<div class="prod-list-page">
  

  <app-product-filters [brands$]="brands$" [countries$]="countries$" [filteredBrands$]="filteredBrands$" [filteredCountries$]="filteredCountries$" (filterDiscount)="onFilterDiscount()" (filterCountrу)="onFilterCountries($event)" (filterBrands)="onFilterBrands($event)"></app-product-filters>

  <div class="items-block">

    <app-tags-sort [tags$]="tags$" [filteredTags$]="filteredTags$" [mainCategory]="mainCategory" [sortOptions]="sortOptions" (filterTags)="onFilterTag($event)" (filterSort)="onSortOption($event)"></app-tags-sort>
    
    <app-product-items [products$]="filteredProducts$"></app-product-items>
    
  </div>
</div>