<div class="items">
    <div *ngFor='let product of products$ | async'>

    <div class="item">
        <div *ngIf="product.freshDays as freshDays" class="fresh">
        <div>
            <img src='/assets/img/fresh.png' alt="" class="fresh-list"/>
            <span class="fresh-num">{{freshDays}}</span>
        </div>
        <div class="fresh-days">ДНЕЙ</div>
        </div>

        <div class="img"><img src={{product.img}} alt={{product.name}} class="prod-img"></div>

        <div class="rating-like">
        <div class="rating">
            <div [ngSwitch]="product.rating">
            <div *ngSwitchCase=ratingEnum.ONE_STAR>
                <img src='/assets/img/star_full_grey.png' alt="" class="star"/>
                <img src="/assets/img/star_full_grey.png" alt="" class="star star-empty"/> 
                <img src="/assets/img/star_full_grey.png" alt="" class="star star-empty"/> 
                <img src="/assets/img/star_full_grey.png" alt="" class="star star-empty"/> 
                <img src="/assets/img/star_full_grey.png" alt="" class="star star-empty"/>
            </div>
            <div *ngSwitchCase=ratingEnum.TWO_STARS>
                <img src='/assets/img/star_full_grey.png' alt="" class="star"/>
                <img src="/assets/img/star_full_grey.png" alt="" class="star"/>
                <img src="/assets/img/star_full_grey.png" alt="" class="star star-empty"/> 
                <img src="/assets/img/star_full_grey.png" alt="" class="star star-empty"/> 
                <img src="/assets/img/star_full_grey.png" alt="" class="star star-empty"/>
            </div>
            <div *ngSwitchCase=ratingEnum.THREE_STARS>
                <img src='/assets/img/star_full_grey.png' alt="" class="star"/>
                <img src="/assets/img/star_full_grey.png" alt="" class="star"/>
                <img src="/assets/img/star_full_grey.png" alt="" class="star"/>
                <img src="/assets/img/star_full_grey.png" alt="" class="star star-empty"/> 
                <img src="/assets/img/star_full_grey.png" alt="" class="star star-empty"/> 
            </div>
            <div *ngSwitchCase=ratingEnum.FOUR_STARS>
                <img src='/assets/img/star_full_grey.png' alt="" class="star"/>
                <img src="/assets/img/star_full_grey.png" alt="" class="star"/>
                <img src="/assets/img/star_full_grey.png" alt="" class="star"/>
                <img src="/assets/img/star_full_grey.png" alt="" class="star"/>
                <img src="/assets/img/star_full_grey.png" alt="" class="star star-empty"/>
            </div>
            <div *ngSwitchDefault>
                <img src='/assets/img/star_full_grey.png' alt="" class="star"/>
                <img src="/assets/img/star_full_grey.png" alt="" class="star"/>
                <img src="/assets/img/star_full_grey.png" alt="" class="star"/>
                <img src="/assets/img/star_full_grey.png" alt="" class="star"/>
                <img src="/assets/img/star_full_grey.png" alt="" class="star"/>
            </div>
            </div>
            <div class="rating-num">{{product.ratingNum}}</div>
        </div>
        <div><img src="/assets/img/heart_red.svg" alt="" class="heart"/></div>
        </div>
    
        <div class="name">{{product.name}}<br>{{product.desc}}</div>
      
        <div *ngIf="product.discount">
        <div class="price-and-discount">
            <div class="price-old">
            <span>{{product.price | ruble}}</span>
            <span class="penny-old">,{{product.price | penny}} </span>
            <span class="ruble-old">&#8381;</span>
            </div>
            <div class="discount">-{{product.discountNum}}%</div>
        </div>
        <div class="price price-discount">
            <span>{{product.priceDiscount | ruble}}</span>
            <span class="penny">,{{product.priceDiscount | penny}} </span>
            <span class="ruble">&#8381;/</span><span class="copy">шт</span>
        </div>
        </div>
        
        <div *ngIf="!product.discount">
        <div class="price discount-empty">
            <span>{{product.price | ruble}}</span>
            <span class="penny">,{{product.price | penny}} </span>
            <span class="ruble">&#8381;/</span><span class="copy">шт</span>
        </div>
        </div>
     
        <button class="buy-btn"><div>Купить</div><div><img src="/assets/img/cart.png" alt="" class="cart"/></div></button>

        <div class="delivery">Доставка {{product.delivery}}</div>
    </div>
    </div>
</div>